/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  background-color: white;
  color: black; /* text color */
  font-family: 'Nunito Sans', sans-serif;
}

/* Change header text to imported font */
h2 {
  font-family: 'Nunito Sans', sans-serif;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
}

h4 {
  font-family: 'Nunito Sans', sans-serif;
}

p {
  font-family: 'Nunito Sans', sans-serif;
}

/* Make text visible on inputs */
.shiny-input-container {
  color: #474747;
}